@model IEnumerable<CustomerResponseModel>

<h1>Customers List</h1>
<a asp-action="Create" asp-controller="Customer">Create a customer profile</a>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Title</th>
			<th>City</th>
			<th>Phone</th>
			<th>Region</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Title</td>
				<td>@item.City</td>
				<td>@item.Phone</td>
				<td>@item.RegionName</td>
				 <td>
					<a class="btn btn-warning" asp-action="Detail" asp-controller="Customer" asp-route-id="@item.Id">Details</a>
				 </td>
			</tr>
		}
	</tbody>
</table>