@*optional in .NET 6 and later*@
@model IEnumerable<Employee> 

<h1>Employee List</h1>
@{
	<div class="row">
		@foreach (var e in Model)
	{
		<div class="col-3"><partial name="_Employee" model="e"/></div>
		
	}
	</div>

}

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Salary</th>
			<th>Department</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach(var e in Model){
				<tr>
					<td>@e.Id</td>
					<td>@e.FirstName @e.LastName</td>
					<td>@e.Salary</td>
					<td>@e.Department</td>
				</tr>
			}
		}
	</tbody>
</table>